include ../mixins/dropdown-profile-item.pug

header.header 
    .container
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo2.png")
            .col-9 
                .inner-menu 
                    ul
                        li 
                            a(href="#") Home 
                        li 
                            a(href="/categories") Category
                        li 
                            a(href="/cart")
                                <i class="fa-solid fa-cart-shopping"></i>
                                    | (<span mini-cart >0</span>)

                        img(
                            class="user-pic"
                            src=(user && user.avatar? user.avatar : "/images/default-user.png")
                            alt=(user && user.fullName? user.fullName: "Default user name")
                        )

                        .sub-menu-wrap
                            .sub-menu 
                                if(user)
                                    .user-info 
                                        img(src=(user && user.avatar ? user.avatar : "/images/default-user.png"))
                                        h6 #{user && user.fullName ? user.fullName : "unloggedin user"}
                                    hr

                                    +link-item("/user/profile", "profile setting")
                                    +link-item("/user/logout", "sign out")
                                else
                                    +link-item("/user/register", "register/login")