header.header 
    .container
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.png")
            .col-9 
                .inner-menu 
                    ul
                        li 
                            a(href="#") Home 
                        li 
                            a(href="/categories") Category
                        li 
                            a(href="/cart")
                                <i class="fa-solid fa-cart-shopping"></i>
                                    | (<span mini-cart >0</span>)