extends ../../layouts/default.pug 
block main 
    h3(class="mb-4")=pageTitle 
    hr
    .mb-4 
        strong Title: 
        span #{roleFromDB.title} 
    //- TODO: MAKING A TALBE TO SHOW PERMISSION OF THIS ADMIN
    .mb-4 
        strong Short Description: 
        span #{roleFromDB.description}