@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nova+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-heading: #007BFF;
    --color-label: #fff;
    --color-button-submit: rgba(0, 123, 255, 1);
    --bg-color-alert: rgba(33, 37, 41, 0.2);
}

body {
    /* background-image: url(https://cdn.pixabay.com/photo/2017/07/31/22/32/vietnam-2561642_1280.jpg);
    background-repeat: no-repeat; */
    background-color: #212529;
    color: white;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--color-heading);
    font-weight: bold;
}

form label {
    color: var(--color-label);
}

form input {
    color: white !important;
    background: transparent !important;
    border: 0.7px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 8px !important;

}


form button {
    border: none !important;
    border-radius: 8px !important;
    background-color: var(--color-button-submit) !important;
}

/* Alert */

[show-alert] {
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    background-color: var(--bg-color-alert);
    font-weight: 300;
    padding: 0.7rem 2rem;
    position: fixed;
    top: 65px;
    right: 1rem;
    z-index: 9999;
    transform: translateX(100%);
    animation-name: slide-in-right;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

[show-alert]::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: green;
    animation: bottom-bar 5s ease-in-out forwards;
}

[show-alert-error]::after {
    background: rgb(207, 17, 17);
    animation: bottom-bar 5s ease-out forwards;
}

@keyframes bottom-bar {
    100% {
        width: 0;
    }
}

@keyframes slide-in-right {
    100% {
        transform: translateX(0);
    }
}

[show-alert].alert-hidden {
    animation-name: slide-out-right;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200%);
        display: none;
    }
}

[show-alert] [close-alert] {
    color: #eaeaea;
    display: inline-block;
    padding-left: 10px;
    line-height: 24px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
}

[show-alert] [close-alert]:hover {
    color: rgb(129, 129, 129);
    transform: rotate(30deg);
}

/* End Alert */