@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Noto sans;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* footer stack on bottom */
main {
    flex: 1
}

/* Header */
.header {
    background: #1e1e1e;
    border-bottom: 1px solid #ddd;
    padding: 0.3rem 0;
}

.header .inner-logo img {
    width: 45px;
    height: 45px;
    padding: 2px;
    /* aspect-ratio: 4/3; */
    max-height: 50px;
    max-width: 100%;
    border-radius: 50%;
    color: white;
    background-color: white;
    margin: 5px 0px;
}

.header .inner-menu>ul {
    /* backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18); */
    list-style: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu>ul>li>a {
    color: #fff;
    font-size: 0.95rem;
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.header .inner-menu>ul>li>a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    /* Adjust thickness as needed */
    bottom: 5px;
    /* Adjust this value to bring it closer or further from text */
    left: 50%;
    background-color: #a2a6a6;
    transition: width 0.3s ease, left 0.3s ease;
}

.header .inner-menu>ul>li>a:hover::after {
    width: 40%;
    left: 50%;
}

.header .inner-menu>ul>img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: #ddd;
    padding: 2px;
    cursor: pointer;
    margin-left: 20px;
}

.header .inner-menu>ul>img:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Dropdown profile */

.sub-menu-wrap {
    z-index: 10000000;
    position: absolute;
    top: 100%;
    right: -15%;
    width: 200px;
    padding: 10px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
}

.sub-menu-wrap.open-sub-menu {
    max-height: 500px;
}

.sub-menu-wrap.open-sub-menu .sub-menu {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}


.sub-menu-wrap .sub-menu {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    /* background: rgb(235, 234, 234); */
    background: rgb(23, 23, 23);
    padding: 1rem;
    margin-top: 10px;
}

.sub-menu-wrap .sub-menu .user-info {
    display: flex;
    align-items: center;
}

.sub-menu-wrap .sub-menu .user-info h6 {
    font-weight: 600;
    margin-bottom: 0;
    color: white;
}

.sub-menu-wrap .sub-menu .user-info img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-wrap .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #919191;
    margin: 10px 0 10px;
}

.sub-menu-wrap .sub-menu .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* color: #212121; */
    color: white;
    margin: 12px 0;
}

.sub-menu-wrap .sub-menu .sub-menu-link a {
    text-decoration: none;
    /* color: #333; */
    color: white;
}

.sub-menu-wrap .sub-menu .sub-menu-link p {
    width: 100%;
    margin-bottom: 0;
}

.sub-menu-wrap .sub-menu .sub-menu-link:hover p {
    font-weight: 600;
}

.sub-menu-wrap .sub-menu .sub-menu-link span {
    font-size: 18px;
    transition: transform 0.5s;
}

.sub-menu-wrap .sub-menu .sub-menu-link:hover span {
    transform: translateX(5px);
}

/* End Header */

/* Frofile Settings */
.card .user-info .user-pic {
    width: 100%;
    height: 150px;
}

.card .user-info img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

/* End Frofile Settings */

/* Image Preview */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src=""] {
    display: none;
}

/* End Image Preview */

/* Footer */
.footer {
    background: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* End Footer */

/* box-head */
.box-head {
    margin-bottom: 30px;
}

.box-head .inner-title {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 600;
    color: black;
}

/* End box-head */

/* Tour-detail */
.tour-detail .inner-images .inner-image {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

.tour-detail .inner-images .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tour-detail .inner-title {
    font-size: 20px;
    font-weight: 700;
    color: #c12026;
    margin-bottom: 10px;
}

.tour-detail .inner-barcode {
    margin-bottom: 10px;
}

.tour-detail .inner-time-start {
    margin-bottom: 10px;
}

.tour-detail .inner-stock {
    margin-bottom: 10px;
}

.tour-detail .inner-price-special {
    font-size: 20px;
    font-weight: 700;
    color: #c12026;
    margin-bottom: 10px;
}

.tour-detail .inner-price {
    font-weight: 700;
    color: #3c3c3c;
    margin-bottom: 10px;
    text-decoration: line-through;
}

.tour-detail .inner-percent {
    font-weight: 700;
    color: #3c3c3c;
    margin-bottom: 10px;
}

.tour-detail .inner-infomation {
    margin-top: 30px;
    border: 1px solid #b5b5b5;
    padding: 10px;
    border-radius: 5px;
}

.tour-detail .inner-infomation .inner-label {
    font-size: 18px;
    font-weight: 700;
    color: #c12026;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.tour-detail .inner-infomation .inner-text {
    white-space: pre-line;
}

.tour-detail .inner-infomation .inner-text img {
    max-width: 100%;
    height: auto;
}

/* End Tour-detail */

/* Alert Add Cart Success */
[alert-add-cart-success] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}

[alert-add-cart-success].alert-hidden {
    animation-name: alert-hidden;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }

    to {
        right: -100%;
        display: none;
    }
}

[alert-add-cart-success] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

/* End Alert Add Cart Success */

/* Alert */

[show-alert] {
    /* color: #fff; */
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-weight: 300;
    padding: 1rem 2rem;
    position: fixed;
    /* border-radius: 20px 0 0 20px; */
    top: 70px;
    right: 1.2rem;
    z-index: 9999;
    transform: translateX(100%);
    animation-name: slide-in-right;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

[show-alert]::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: bottom-bar 5s linear forwards;
}

[show-alert-error]::after {
    background: red;
}

@keyframes bottom-bar {
    100% {
        width: 0;
    }
}

@keyframes slide-in-right {
    100% {
        transform: translateX(0);
    }
}

[show-alert].alert-hidden {
    animation-name: slide-out-right;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200%);
        display: none;
    }
}

[show-alert] [close-alert] {
    color: black;
    display: inline-block;
    /* width: 24px;
    height: 24px;
    border-radius: 50%; */
    padding-left: 10px;
    line-height: 24px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
}

[show-alert] [close-alert]:hover {
    color: rgb(80, 80, 80);
    transform: rotate(30deg);
}

/* End Alert */

/* Cart */

[tour-list] [btn-delete] {
    background-color: white;
    border: none;
    color: #333;
    font-size: 1.5rem;
}

/* End Cart */