@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color-category-card: #F5F5F5;
    --color-header-footer: #24262b;
    --color-main: #ffffff;
    --color-logo: #007BFF;
    --color-footer: #007BFF;
    --font-text: "Poppins", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-text);
}

/* footer stack on bottom */
main {
    flex: 1;
    background-color: var(--color-main);
}

/* Header */
.header {
    background: var(--color-header-footer);
    font-family: var(--font-text);
    padding: 0.3rem 0;
}

/* .header .inner-logo img {
    width: 45px;
    height: 45px;
    padding: 2px;
    max-height: 50px;
    max-width: 100%;
    border-radius: 50%;
    color: white;
    background-color: white;
    margin: 5px 0px;
} */

.header .inner-logo a {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    color: var(--color-logo);
}

.header .box-search {
    background-color: white;
}

.header .box-search input {
    border-radius: 0%;
    height: 2rem;
    border: none;
}

.header .box-search input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.header .box-search .input-group {
    width: 30rem;
}

.header .box-search .input-group button {
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: white;
}

.header .box-search .input-group input {
    font-weight: 600;
    font-size: 0.8rem;
    border: 5px solid white;
    text-align: center;
    align-items: center;
}

.header .box-search .input-group input .past-date {
    text-decoration: line-through;
    color: #ccc;
    pointer-events: none;
}

.header .box-search button {
    height: 2rem;
    border: none;
    border-radius: 0%;
}

.header .inner-menu>ul {
    /* backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18); */
    list-style: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.header .inner-menu>ul>li>a {
    color: #fff;
    font-size: 0.95rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.header .inner-menu .nav-item {
    transition: color 0.3s;
}

.header .inner-menu .nav-item.active {
    color: #007BFF;
    font-weight: semi-bold;
}


.header .inner-menu>ul>li>a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 5px;
    left: 50%;
    background-color: #a2a6a6;
    transition: width 0.3s ease, left 0.3s ease;
}

.header .inner-menu>ul>li>a:hover::after {
    width: 40%;
    left: 50%;
}

.header .inner-menu>ul>img {
    width: 2.3rem;
    height: 2.3rem;
    object-fit: cover;
    border-radius: 50%;
    background-color: #ddd;
    padding: 2px;
    cursor: pointer;
    margin-left: 20px;
}

.header .inner-menu>ul>img:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Dropdown profile */

.sub-menu-wrap {
    z-index: 10000000;
    position: absolute;
    top: 80%;
    right: -35%;
    width: 200px;
    padding: 10px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s;
}

.sub-menu-wrap.open-sub-menu {
    max-height: 500px;
}

.sub-menu-wrap.open-sub-menu .sub-menu {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}


.sub-menu-wrap .sub-menu {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    background: var(--color-header-footer);
    padding: 1rem;
    margin-top: 10px;
}

.sub-menu-wrap .sub-menu .user-info {
    display: flex;
    align-items: center;
}

.sub-menu-wrap .sub-menu .user-info h6 {
    font-weight: 600;
    margin-bottom: 0;
    color: white;
}

.sub-menu-wrap .sub-menu .user-info img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #d9d9d9;
}

.sub-menu-wrap .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #919191;
    margin: 10px 0 10px;
}

.sub-menu-wrap .sub-menu .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* color: #212121; */
    color: white;
    margin: 12px 0;
}

.sub-menu-wrap .sub-menu .sub-menu-link a {
    text-decoration: none;
    /* color: #333; */
    color: white;
}

.sub-menu-wrap .sub-menu .sub-menu-link p {
    width: 100%;
    margin-bottom: 0;
}

.sub-menu-wrap .sub-menu .sub-menu-link:hover p {
    font-weight: 600;
}

.sub-menu-wrap .sub-menu .sub-menu-link span {
    font-size: 18px;
    transition: transform 0.5s;
}

.sub-menu-wrap .sub-menu .sub-menu-link:hover span {
    transform: translateX(5px);
}

/* End Header */

/* Frofile Settings */
.card .user-info .user-pic {
    width: 100%;
    height: 150px;
}

.card .user-info img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

/* End Frofile Settings */

/* Image Preview */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview[src=""] {
    display: none;
}

/* End Image Preview */

/* Footer */

.footer {
    font-family: var(--font-text);
    background-color: var(--color-header-footer);
    padding: 30px 0 0 0;
    line-height: 1.5;
}

.footer ul li {
    list-style-type: none;
}

.footer .container {
    max-width: 80rem;
    margin: auto;
}

.footer .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .container .row .footer-col h4 {
    font-size: 1.5rem;
    color: #efefef;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}


.footer .container .row .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--color-footer);
    height: 2px;
    width: 50px;
}

.footer .container .row .footer-col iframe {
    width: 25rem;
    height: 11rem;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a, .footer-col ul li span {
    font-size: 1rem;
    color: #bbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover, .footer-col ul li span:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5 ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

/* reponsive */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* End Footer */

/* box-head */
.box-head {
    margin-bottom: 30px;
}

.box-head .inner-title {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

/* End box-head */

/* Category card  */

.category-card .card {
    border-radius: none;
    border: none;
    background-color: var(--bg-color-category-card);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 2rem;
}

.category-card .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.category-card .card img {
    border-radius: 5px 5px 0 0;
    height: 11rem;
    object-fit: cover;
}

.category-card a {
    border: none;
}

/* End category card  */

/* Tour-detail */
.tour-detail .inner-images .inner-image {
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

.tour-detail .inner-images .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.col-12.heading {
    max-height: 50px;
}

.tour-detail .inner-title {
    font-size: 20px;
    font-weight: 700;
    color: #c12026;
    margin-bottom: 10px;
}

.tour-detail .inner-barcode {
    margin-bottom: 10px;
}

.tour-detail .inner-time-start {
    margin-bottom: 10px;
}

.tour-detail .inner-stock {
    margin-bottom: 10px;
}

.tour-detail .inner-price-special {
    font-size: 20px;
    font-weight: 700;
    color: #c12026;
    margin-bottom: 10px;
}

.tour-detail .inner-price {
    font-weight: 700;
    color: #3c3c3c;
    margin-bottom: 10px;
    text-decoration: line-through;
}

.tour-detail .inner-percent {
    font-weight: 700;
    color: #3c3c3c;
    margin-bottom: 10px;
}

.tour-detail .inner-infomation {
    margin-top: 30px;
    border: 1px solid #b5b5b5;
    padding: 10px;
    border-radius: 5px;
}

.tour-detail .inner-infomation .inner-label {
    font-size: 18px;
    font-weight: 700;
    color: #c12026;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.tour-detail .inner-infomation .inner-text {
    white-space: pre-line;
}

.tour-detail .inner-infomation .inner-text img {
    max-width: 100%;
    height: auto;
}

/* End Tour-detail */

/* Alert Add Cart Success */
[alert-add-cart-success] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
}

[alert-add-cart-success].alert-hidden {
    animation-name: alert-hidden;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }

    to {
        right: -100%;
        display: none;
    }
}

[alert-add-cart-success] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}

/* End Alert Add Cart Success */

/* Alert */

[show-alert] {
    /* color: #fff; */
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-weight: 300;
    padding: 1rem 2rem;
    position: fixed;
    /* border-radius: 20px 0 0 20px; */
    top: 70px;
    right: 1.2rem;
    z-index: 9999;
    transform: translateX(100%);
    animation-name: slide-in-right;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

[show-alert]::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: bottom-bar 5s linear forwards;
}

[show-alert-error]::after {
    background: red;
}

@keyframes bottom-bar {
    100% {
        width: 0;
    }
}

@keyframes slide-in-right {
    100% {
        transform: translateX(0);
    }
}

[show-alert].alert-hidden {
    animation-name: slide-out-right;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200%);
        display: none;
    }
}

[show-alert] [close-alert] {
    color: black;
    display: inline-block;
    /* width: 24px;
    height: 24px;
    border-radius: 50%; */
    padding-left: 10px;
    line-height: 24px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
}

[show-alert] [close-alert]:hover {
    color: rgb(80, 80, 80);
    transform: rotate(30deg);
}

/* End Alert */

/* Cart */

[tour-list] [btn-delete] {
    background-color: white;
    border: none;
    color: #333;
    font-size: 1.5rem;
}

/* End Cart */