doctype hmtl 
html 
    head 
        title Tour List 

    body 
        header
            h1 #{pageTitle}

        main 
            ul 
                each tour in tours 
                    li #{tour.title}