extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                div(class="alert alert-success") Congratulations on your successful order! Your order code is <b>OD00000001</b>.


        .row
            .col-12
                +box-head("Customer Information")

                table(class="table table-bordered")
                    tbody
                        tr
                            td Full Name
                            td Lê Văn A
                        tr
                            td Phone Number
                            td 0123456789
                        tr
                            td Note
                            td Nội dung ghi chú...
                        tr
                            td Order Date
                            td 11:51 - 22/11/2023


        .row
            .col-12
                +box-head("Tour List")

                table(class="table table-bordered")
                    thead
                        tr
                            th No.
                            th Image
                            th Title
                            th Price
                            th Quantity
                            th Total
                    tbody
                        tr
                            td 1
                            td
                                img(src="https://backend.daca.vn/assets/tour/images/tour-ha-long.jpg" alt="Tour Hạ Long" width="80px")
                            td
                                a(href=`/tours/detail/:slugTour`) Tour Hạ Long
                            td 1,200,000VND
                            td 1
                            td 1,200,000VND

                h5(class="text-right mb-4") Order Summary: 1,200,000VND