mixin alert-success(time)
    - if (messages.success)
        div(
            show-alert-success
            show-alert
            date-time=time 
        ) #{messages.success} <span close-alert><i class="fa-solid fa-xmark"></i><span>

mixin alert-error(time) 
    - if (messages.error)
        div(
            show-alert-error
            show-alert 
            date-time=time 
        ) #{messages.error} <span close-alert><i class="fa-solid fa-xmark"></i><span>
