doctype html
html 
    head
        title 404 Error
        //- logo
        link(rel="icon" href="/images/favicon.png" type="image/x-icon")
        //- css
        link(rel="stylesheet" href="/css/404.css")

    body 
        #main
            .fof
                h1 Error 404
